<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.masterkdk.methodverification">

    <!--アプリ基本情報-->
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/S_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--利用するアクティビティ-->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ProcedureActivity">
            <intent-filter>
                <action android:name="android.intent.action.PROCEDURE" />
            </intent-filter>
        </activity>
        <activity android:name=".TopActivity">
            <intent-filter>
                <action android:name="android.intent.action.TOP" />
            </intent-filter>
        </activity>
        <activity android:name=".EndActivity">
            <intent-filter>
                <action android:name="android.intent.action.END" />
            </intent-filter>
        </activity>
        <activity android:name=".ConfirmActivity">
            <intent-filter>
                <action android:name="android.intent.action.CONFIRM" />
            </intent-filter>
        </activity>

        <activity android:name=".net.EndOffActivity">
            <intent-filter>
                <action android:name="android.intent.action.ENDOFF" />
            </intent-filter>
        </activity>

    </application>

    <!--インターネット接続のパーミッション-->
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

</manifest>